<span class="tag-questions">
  <h3>
    <%= @tag.name.capitalize %>
  </h3>
  
  <ol>
   <% @posts.each do |post| %> 
     <li>
        <p>
          <h3><%= link_to post.title, post %></h3>
          <small>Posted on <%= post.created_at.strftime("%m/%d/%Y") %> by <%= link_to post.user.name, "/users/#{post.user.id}" %></small>
        </p>
      </li>
    <% end %>
  </ol>
  
</span>
