.comment dt {
	width: 80px;
}

.comment {
	margin: 10px;
	width: 80%;
	white-space: normal;
	padding: 20px;

}

.comment dd {
	margin-left: 100px;
}

.comment p {
	display: inline-block;
	width: 620px;
}

.dl-horizontal dd {
	white-space: normal;

}

.timestamp {
	margin-left: 50px; 
}

.edit_buttons {
	margin-left: 50px;
}
