.comment dt {
	width: 80px;
}

.comment {
	margin: 10px;
	width: 695px;
	white-space: normal;
	padding: 20px;

}

.comment dd {
	margin-left: 100px;
}

.comment p {
	display: inline-block;
	width: 620px;
}

.dl-horizontal dd {
	white-space: normal;

}

.timestamp {
	margin-left: 50px; 
}

.edit_buttons {
	margin-left: 50px;
}

.word_content {
	width: 80%;
	padding: 20px;
	margin: 10px;
}


.comment-input-form {
	display: block;
}

.comment-input-form textarea#comment_comment {
	width: 695px;
	height: 100px;
	padding: 15px;
	margin-top: 12px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #838383;	
}

.comment-input-form .post_button {
	width: 200px;
}
