
$background: #393939;
$background_header: #393939;
$background_square_1: #80BCA3;
$background_square_2: #c6c6a4;
$background_square_3: #E6AC27;
$background_square_4: #839C85;
$background_square_5: #A0BC38;
$background_square_6: #79596F;
$background_square_7: #BF4D28;
$background_post_container: $background_square_2;
$background_search: $background_post_container;

$font_color_basic: #839c85;
$font_color_basic_hover: #80bca3;

$font_color_header: #c1ad8b;
$font_color_header_hover: #f1d7ad;

$font_color_post_element: $background;
$font_color_search: $background;

$search_glow_color: #9b9b9b;

html {
  background-color: $background;
  margin-left: 0;
  margin-right: 0;
  input {
    color: $font_color_basic;
  }
  textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
      border-color: $search_glow_color;
      // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $search_glow_color;
      box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px $search_glow_color;
      outline: 0 none;
  }
  body {
    hr { margin-left: 0; margin-top: 15px;}
    h1, h2, h3, h4 {color: $font_color_header;}
    a, p, small {color: $font_color_basic;}
    a:hover {
      color: $font_color_header_hover;
      text-decoration: none;
    }
    h1, h2, h3, h4 {font-family: "Dosis", sans-serif;}
    background-color: $background;
    padding: 0;
    .container {
      position: relative;
      top: 52px;
      height: 101%;
      width: 100%;
      padding: 20px;
      background-color: $background;
      .list_of_posts {
        .all_posts {
          #iso_content {
            .isotope-item {
              background-color: #4c4c4c;
              border: 0;
              margin: 0 10px 10px 0;
              h2, a {
                color: $font_color_header;
                text-decoration: none;
              }
            }
            .hover_me {
              background-color: #5b5b5b;
              h2, a {
                color: $font_color_header_hover;
                text-decoration: none;
              }
              p {
                color: $font_color_basic_hover;
              }
            }
          }
        }
      }
      .post {
        .word_content {
          padding: 10px;
        }
      }
      .post_list_container {
        background-color: $background_post_container;
        .post_list_element {
          a, p {
            color: $font_color_post_element;
          }
          .post_title {
            font: 20px "Dosis", sans-serif;
          }
        }
      }
      .comment {
        background-color: $background_post_container;
        a, p {
          color: $font_color_post_element;
        }
        .comment_user {
          font: 20px "Dosis", sans-serif;
        }
      }
      .video_activity {
        font: 15px "Dosis", sans-serif;
        color: white;
      }
    }
  }
}





