// COLORS

$background: #393939;
$background_header: #393939;
$background_square_1: #80BCA3;
$background_square_2: #c6c6a4;
$background_square_3: #E6AC27;
$background_square_4: #839C85;
$background_square_5: #A0BC38;
$background_square_6: #79596F;
$background_square_7: #BF4D28;
$background_post_container: $background_square_2;
$background_search: $background_post_container;

$font_color_basic: #839c85;
$font_color_basic_hover: #80bca3;

$font_color_header: #c1ad8b;
$font_color_header_hover: #f1d7ad;

$font_color_post_element: $background;
$font_color_search: $background;

$search_glow_color: #9b9b9b;


// SCSS

html {

  background-color: $background;
  margin-left: 0;
  margin-right: 0;
  input {
    color: $font_color_basic;
  }
  textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
      border-color: $search_glow_color;
      // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $search_glow_color;
      box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px $search_glow_color;
      outline: 0 none;
  }

  body {

    width: 100%;
    hr { margin-left: 0; margin-top: 15px;}
    h1, h2, h3, h4 {color: $font_color_header;}
    a, p, small {color: $font_color_basic;}
    a:hover {
      color: $font_color_header_hover;
      text-decoration: none;
    }
    h1, h2, h3, h4 {font-family: "Dosis", sans-serif;}
    background-color: $background;
    padding: 0;

    .container {

      position: relative;
      top: 52px;
      height: 101%;
      width: 100%;
      padding: 20px;
      background-color: $background;

      .left_sidebar {
        margin-top: 64px;
        width: 14%;
        position: fixed;
        a {
          color: #839C85;
          font-size: 16px;
          margin-bottom: 5px;
          margin-left: 0;
          padding-top: 10px;
          padding-left: 5px;
          padding_bottom: 0px;
          font: 20px "Dosis", sans-serif;
          &:hover {
            color: #80BCA3;
            text-decoration: none;
          }
        }
        // .sort_section {}
        // .tag_section {}
      }

      .list_of_posts {

        width: 86%;
        .all_posts {

          #iso_content {

            .isotope-item {

              background-color: #4c4c4c;
              border: 0;
              margin: 0 10px 10px 0;
              h2, a {
                color: $font_color_header;
                text-decoration: none;
              }
            }
            .hover_me {
              background-color: #5b5b5b;
              h2, a {
                color: $font_color_header_hover;
                text-decoration: none;
              }
              p {
                color: $font_color_basic_hover;
              }
            }
          }
        }
      }

      .pagination {
        display: block;
        position: absolute;
        bottom: 0px;
        left: 450px;
        font: 15px "Dosis", sans-serif;
      }

      .post {
        .word_content {
          padding: 10px;
        }
      }
      .post_list_container {
        background-color: $background_post_container;
        .post_list_element {
          a, p {
            color: $font_color_post_element;
          }
          .post_title {
            font: 20px "Dosis", sans-serif;
          }
        }
      }
      .video_activity {
        font: 15px "Dosis", sans-serif;
        color: white;
      }
    }
  }
}






/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
    opacity:0;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    transition-duration: 0s;
}

/* End: Recommended Isotope styles */



// POSTS / ISOTOPE

.box-title {
font-size: 30px;
margin-bottom: 10px;
}

.box {
color: #839C85;
padding: 15px;
float: left;
margin-left: 10px;
margin-right: 10px;
width: 250px;
background: #ffffff;
border: 2px solid #787878;
margin-bottom: 20px;
}

.list_of_posts {
  width: 100;
}

.all_posts {
  display: inline-block;
  width: 100%;
  float: left;
  margin-left: 160px;
}

#iso_content {
  width: 100%;
}
















ul {
  list-style:none;
}

.vote_up_comment_form {
  display: inline;
}

.vote_down_comment_form {
  display: inline;
}

#vote_up_post_form {
  display: inline;
}

#vote_down_post_form {
  display: inline;
}

.post_vote_score {
  display: inline;
}

.vote_score {
  color: black;
  font-size: 20px;
}

.vote {
  float: left;
  text-align: center;
  .btn-link {
    width: 32px;
    text-align: center;
    color: black;
    background-color: transparent;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  .post_vote_score {
  }
}



// TAGS

.tag_count {
  width: 70px;
  color: #80bca3;
  text-align: center;
}

.count_title {
  color: #80bca3;
}





// POST SNAPSHOT

dt.karma {
  font-size: 30px;
  display: inline-block;
  vertical-align: center;
  text-align: center;
  width: 60px;
  height: 100px;
  padding-top: 5px;
}


dd a.post_title{
  font-weight: bold;
  font-size: 16px;
  position: relative;
  color: black;
}

.title_container {
  width: 400px;
}


.post_img {
  position: absolute;
  right: 10px;
  top: 12px;
}

.post_tags {
  display: inline-block;
  vertical-align: center;
  font-size: 10px;
}

span.post_time {
  position: absolute;
  right: 68px;
}

h3.num_of_vids {
  text-align: right;
}


dl.post_list_container {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,.1);
  padding: 20px;
}

dl.post_list_container:hover {
  background-color: rgba(0,0,0,.1);
}

.post_list_element {
  position: relative;
  width: 100%;
  height: 100%;
  margin-right: 0px;

}

dd.post_snapshot {
  height: 100px;
  margin: 0px;
}

hr {
  margin: 10px;
}

span.user_name a {
  position: relative;
  float: left;
  color: grey;
}

div.post_bottom {
  position: absolute;
  width: 65%;
  height: 20px;
  bottom: 0px;
  margin-left: 60px;
}

.view_count {
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  right: 40px;
  top: -8px;
}

.word_content p {
  display: inline-block;
}





// USERS



.user_image a img {
  height: 100px;
  width: 100px;
}

.user_info {
  display: inline-block;
  width: 100px;
  height: 150px;
  margin: 10px;
  padding: 20px;
  background-color: #c6c6a4;
}

.user_list_name {
  text-align: center;
  width: 100px;
  height: 40px;
  margin-bottom: 8px;
  font: 15px "Dosis", sans-serif;
  font-style: bold;
}

.user_list_name a {
  color: #393939;
}

.user_list_image {
  height: 100px;
  width: 100px;
}
