.video_info img {
  margin-right: 12px;
  width: 32px;
  height: 32px;
  border: 1px solid #aaa;
  box-shadow: 1px 1px 1px rgba(1,0,0, 0.2);
}

.video_preview {
  padding-left: 52px;
}

.video_preview img {
  width: 170px;
  height: 128px;
  
}

.video_create {
  margin-bottom: 22px;
}
