.post {
	display: inline-block;
	left-margin: 80px;
}

.post h3 {
 	margin-left: 20px;
}

.post iframe {
	margin-left: 20px;
}

.post_vote_score {
	color: rgb(230, 172, 39);
	font-size: 20px;
}


.word_content {
	font-size: 13px;
}


input.btn-link:hover {
	color: white;
	text-decoration: none;
}

.vote_score {
	color: black;
	font-size: 20px;

}
