.post {
	display: inline-block;
	left-margin: 80px;
}

h3.post {
 	margin-left: 20px;
}

.post iframe {
	margin-left: 20px;
}

.post_vote_score {
	color: rgb(230, 172, 39);
	font-size: 20px;
}


.word_content {
	font-size: 13px;
}
