html {
  body {
    .container {
      .list_of_posts {
      }
      .left_sidebar {
        position: fixed;
        a {
          color: #839C85;
          font-size: 16px;
          margin-bottom: 5px;
          margin-left: 0;
          padding-top: 10px;
          padding-left: 5px;
          padding_bottom: 0px;
          font: 20px "Dosis", sans-serif;
          &:hover {
            color: #80BCA3;
            text-decoration: none;
          }
        }
        // .sort_section {}
        // .tag_section {}
      }
      .pagination {
        display: block;
        position: absolute;
        bottom: 0px;
        left: 450px;
        font: 15px "Dosis", sans-serif;
      }
    }
  }
}

.box-title {
font-size: 30px;
margin-bottom: 10px;
}
 
.box {
color: #839C85;
padding: 15px;
float: left;
margin-left: 10px;
margin-right: 10px;
width: 250px;
background: #ffffff;
border: 2px solid #787878;
margin-bottom: 20px;
}

.list_of_posts {
  width: 100;
}

.all_posts {
  display: inline-block;
  width: 100%;
  float: left;
  margin-left: 160px;
}

#iso_content {
  width: 100%;
}



.isotope-item {
  z-index: 2;
}
 
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
 
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
 
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}
 
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}