
$background: #393939;
$background_header: #393939;
$background_square_1: #80BCA3;
$background_square_2: #c6c6a4;
$background_square_3: #E6AC27;
$background_square_4: #839C85;
$background_square_5: #A0BC38;
$background_square_6: #79596F;
$background_square_7: #BF4D28;
$background_post_container: $background_square_2;
$background_search: $background_post_container;

$font_color_basic: #839c85;
$font_color_basic_hover: #80bca3;

$font_color_header: #c1ad8b;
$font_color_header_hover: #f1d7ad;

$font_color_post_element: $background;
$font_color_search: $background;

$search_glow_color: #9b9b9b;


.user_image {
	margin-top: 5px;
	width: 145px;
	height: 145px;
}


.profile_info {
	float: left;
	display: inline-block;
	text-align: left;
	width: 20%;
	height: 300px;
}

.user_posts {
	display: inline-block;
	width: 60%;
}

.user_karma h5{
	display: inline-block;
	margin-top: 50px;
	margin-left: 55px;
	font-size: 75px;
}

.user_karma {
	position: absolute;
	z-index: 2000;
	font-size: 50px;
	h5 { color: $font_color_header; }
}

.user_profile {
line-height: 20px;
}

// .karma_badge {
// 	width: 150px;
// 	height: 150px;
// 	position: absolute;
// 	top: 220px;
// 	left: 20px;
// }

.user_profile_name {
	width: 400px;
}



