.user_image {
	width: 120px;
	height: 120px;
}


.profile_info {
	float: left;
	display: inline-block;
	text-align: left;
	width: 20%;
	height: 300px;
}

.user_posts {
	display: inline-block;
	width: 60%;
}

.all_post {
	display: inline-block;
	width: 60%;
	margin-left: 120px;
}

.user_karma {
	display: inline-block;
	position: absolute;
	font-size: 50px;
	left: 90px;
	margin-top: 40px;

}

