
ul {
  list-style:none;
}

.vote_up_comment_form {
  display: inline;
}

.vote_down_comment_form {  
  display: inline;
}

#vote_up_post_form {
  display: inline;
}

#vote_down_post_form {
  display: inline;
}

.post_vote_score {
  display: inline;
}

.btn-link {
  color: black;
}


